/*Regular font*/
@font-face {
    font-family: Roboto-Reg;
    src: url("../../assets/fonts/Roboto-Regular.ttf");
}

/*Bold font*/
@font-face {
    font-family: Roboto-Bol;
    src: url("../../assets/fonts/Roboto-Bold.ttf");
}

:root{
    --main-red: hsl(4, 100%, 67%);
    --main-blue: hsl(234, 29%, 20%);
    --light-blue: hsl(235, 18%, 26%);
    --main-grey: hsl(0, 0%, 58%);
    --main-white: hsl(0, 0%, 100%);

    --small: 1%;
    --medium: 2.5%;
    --big: 5%;
}

*{
    margin: 0;
    padding: 0;

    font-family: Roboto-Reg;
    color: var(--light-blue);

    font-size: 24px;
}

